body {
  background-color:#DADED4;
  font-family: 'Rajdhani', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}

/* HEADER POSITIONING */
.big-title{
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 3px;
  padding: 0px 0 0px 0;
  text-transform: uppercase;
}
.desc{
  font-size:18px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 3px;
  padding: 40px 0 0px 0;
  text-transform: uppercase;
}

.nav{
  float: right ;
  font-size: 18px;
  word-spacing: 20px;
  letter-spacing: .5px;
  padding: 100px 0 0px 0;
  margin-top: -130px;
  text-transform: uppercase;
}
.gradient{
  clear:both;
  height: 20px;
  background: #466368;
  background: linear-gradient(grey, #DADED4);
}
/*styling for tags */
section {
  clear:both;
  text-align: left;
}

/*FEET FETISH*/


/*MAIN LINK STYLE*/
a:link {
  text-decoration: none;
  color: #3C403D;
}
a:hover {
  color: #3C403D;
  border: 2px solid #3C403D;
  padding: 2px;
}

a:visited {
  color: #3C403D;
}

a:active{
  color: #39603D;
}
