body {
  background-color: #EEE;
  font-family: Lato;
}
#container {
  font-family: Lato;
  background-color: white;
  width: 1200px;
  margin-left: auto;
}
#header
{
  font-family: Lato;
  background-color: gray;
  color: white;
  text-align: left;
}
nav{
  background-color: black;
  text-align: right;
  /*border-top: 10px solid white;*/
  font-size: 30px;
  font-color: white;
  font-weight: 600;
  letter-spacing: .5px;
  /*line-height: 60px;*/
  padding: 20px 0 20px 0;
  text-transform: uppercase ;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
