body {
  background-color:#F5FFFA;
  /*background: radial-gradient(#F5FFFA);*/
  font-family: 'Rajdhani', sans-serif;
  margin-left: 0px;
  margin-right: 0px;

}
/*color palette #F5FFFA(mint cream),Thistle, Yellow-Green #A7D930,#31595e(Paint Chip)

/* HEADER POSITIONING */
header{
  /*background: linear-gradient(#F5FFFA, thistle);*/
  /*height: 120px;*/
}
html {
  scroll-behavior: smooth;
}
.big-title{
  margin-left: 10px;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 3px;
  padding: 0px 0 0px 0;
  text-transform: uppercase;
}
.desc{

  font-size:18px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 3px;
  padding: 40px 0 0px 0;
  text-transform: uppercase;
}

.nav{
  margin-right: 10px;
  float :right ;
  font-size: 18px;
  word-spacing: 20px;
  letter-spacing: .5px;
  padding: 100px 0 0px 0;
  margin-top: -130px;
  text-transform: uppercase;
}
.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 40;
  left: 0;
  background-color: #F5FFFA;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {

}
.gradient{

  clear:both;
  height: 5px;
  background : #466368;
  background: linear-gradient(grey, Thistle);
}
.gradient2{

  height: 5px;
  background : #466368;
  background: linear-gradient(grey, #F5FFFA);
  margin-bottom: : 0px;
}
.content-text1{

  border: 2px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: center;
  content-top: 120px;
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 0px;
  margin-left: 120px;
  margin-right: 120px;
  font-size: 28px;
  font-weight: 100;



}
.content-text2{

  border: 2px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: center;
  content-top:120px;
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 0px;
  margin-left: 120px;
  margin-right: 120px;
  font-size: 28px;
  font-weight: 100;


}

.contents{
  background-image: url("images/contentimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  position: relative;
  height: 800px;

}
.contents2{
    background-color: #F5FFFA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    position: relative;
    height: 800px;
}


/* The hero image */
.hero {
  background-image: url("images/hero.jpg");

  /* Set a specific height */
  height: 800px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero2 {
  background-image: url("images/hero21.jpg");

  /* Set a specific height */
  height: 800px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.instagram-media2{

}

/* Place text in the middle of the image */
.hero-text {
  font-size: 48px;
  font-weight: 100;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*styling for tags */
section {
  clear:both;
  text-align: left;
}
/*img{
  height: 300px;
  width:600px;

}*/

/*MAIN LINK STYLE*/
a:link {
  text-decoration: none;
  color: #3C403D;
}
a:hover {
  color: #3C403D;
  border: 2px solid #3C403D;
  padding: 2px;
}

a:visited {
  color: #3C403D;
}

a:active{
  color: #39603D;
}
